<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="test1">
        <classes>
            <class name="testpackage.Run2Test">
                <methods>
                    <include name="handleAlerts"/>
                    <include name="frames"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="test2">
        <classes>
            <class name="testpackage.RunTest">
                <methods>
                    <include name="addAndRemoveProducts"/>
                    <include name="placeAnOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>